<div class="cta cta_snowflake">

    <div>
        <h2 class="hdg hdg_xl">Account</h2>
        <ul>
            <li><a href="/account/">Order History</a></li>
            <li><a href="/account/addresses">Address Book</a></li>
        </ul>
    </div>

    <br/>

    <div>
        <h2 class="hdg hdg_xl">Information</h2>
        <div>
            <div>Name: {{ customer.name }}</div>
            <div>Email: {{ customer.email }}</div>
        </div>
    </div>

</div>