
    <div class="tier {% unless template == "index" and settings.reverse_txt == true %}tier_accent2{% endunless %}">
        <div class="wrapper">
            <div class="toolbar {% if template == "index" and settings.reverse_txt == true %}toolbar_fancy{% endif %}">
                <div class="toolbar-hamburger">
                    <a href="#" id="js-slidePanelTrigger">&#9776; Menu</a>
                </div>
                {% unless settings.promo_text == blank %}
                    <div class="toolbar-promo">{{ settings.promo_text }}</div>
                {% endunless %}
                <div class="toolbar-util">
                    <ul class="toolbar-util-list">
                        <li>
                            <a href="/cart">Cart ({{ cart.item_count }})</a>
                        </li>
                    </ul>
                </div>
                <div class="toolbar-search">
                    <form action="/search" method="get" role="search">
                        <input type="hidden" name="type" value="product" />
                        <label for="search" class="isVisuallyHidden">Search</label>
                        <input class="field field_search" name="q" type="search" id="search" placeholder="Search Products" value="" />
                        <button type="submit" class="btn btn_search">
                            <span class="isVisuallyHidden">Submit Search</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
