
    <div class="tier tier_transparent">
        <div class="wrapper">
            <div class="footer" role="contentinfo">
                <div class="footerGrid">
                    <div class="footerGrid-col">
                        211 Washington Ave N<br/>
                        Minneapolis, Minn. 55408<br/>
                        <br/>
                        M-F 10am - 9pm<br/>
                        Sat 11am - 10pm<br/>
                        Sun 10am - 7pm<br/>
                    </div>
                    <div class="footerGrid-col">
                        Join our newsletter for new releases and updates.
                        <form action="#">
                            <label class="isVisuallyHidden" for="emailAddress">E-mail Address</label>
                            <input type="email" name="emailAddress" id="emailAddress" placeholder="Enter E-mail Address" />
                            <button type="submit">Submit</button>
                        </form>
                        Expect quality over quantity.
                    </div>
                    <div class="footerGrid-col">
                        <ul>
                        {% for link in linklists.footer.links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

