
    <div class="tier {% unless template == "index" and settings.reverse_txt == true %}tier_accent2{% endunless %}">
        <div class="wrapper">
            <div class="toolbar {% if template == "index" and settings.reverse_txt == true %}toolbar_fancy{% endif %}">
                <div class="toolbar-hamburger">
                    <a href="#" id="js-slidePanelTrigger">&#9776; Menu</a>
                </div>
                <div class="toolbar-util">
                    <ul class="toolbar-util-list">
                    {% if shop.customer_accounts_enabled %}
                        <li class="toolbar-util-list-account">
                        {% if customer  %}
                            <a href="/account">Account</a>
                        {% else %}
                            {{ 'Account' | customer_login_link }}
                        {% endif %}
                        </li>
                    {% endif %}
                        <li>
                            <a href="/cart">Cart ({{ cart.item_count }})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
