
    <div class="tier tier_transparent">
        <div class="wrapper">
            <div class="footer" role="contentinfo">
                <div class="footerGrid">
                    <div class="footerGrid-col footerGrid-col_cta">
                        <div class="section">
                            <div class="section-hd">
                                Join our newsletter <span class="isMidScreen">for new releases and updates.</span>
                            </div>
                            <div class="section-bd section-bd_offset">
                                <form method="post" action="#" novalidate>
                                    <div class="signupForm">
                                        <div class="signupForm-field">
                                            <label class="isVisuallyHidden" for="emailAddress">E-mail Address</label>
                                            <input class="field field_txt field_txt_overlap" type="email" name="emailAddress" id="emailAddress" placeholder="Enter E-mail Address" />
                                        </div>
                                        <div class="signupForm-btn">
                                            <button class="btn btn_transparent" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="section-ft">
                                <span class="isWideScreen">Expect quality over quantity.</span>
                            </div>
                        </div>
                    </div>
                    <div class="footerGrid-col footerGrid-col_info">

                        <a href="https://www.google.com/maps/place/211+Washington+Ave+N,+Minneapolis,+MN+55401/">
                            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span class="isVisuallyHidden" itemprop="name">Wilson &amp; Willy's</span><br/>
                                <span itemprop="streetAddress">211 Washington Ave N</span><br/>
                                <span itemprop="addressLocality">Minneapolis</span>, <span itemprop="addressRegion">MN</span> <span itemprop="postalCode">55401</span>
                            </span>
                        </a>

                        <br/><br/>
                        <span itemprop="openingHours">M-F 10am - 9pm</span><br/>
                        <span itemprop="openingHours">Sat 11am - 10pm</span><br/>
                        <span itemprop="openingHours">Sun 10am - 7pm</span><br/>
                    </div>
                    <div class="footerGrid-col footerGrid-col_nav">
                        <ul>
                        {% for link in linklists.footer.links %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

