
    <div class="tier {% unless template == "index" and settings.reverse_txt == true %}tier_accent2{% endunless %}">
        <div class="wrapper">
            <div class="toolbar {% if template == "index" and settings.reverse_txt == true %}toolbar_fancy{% endif %}">
                <div class="toolbar-hamburger">
                    <a href="#" id="js-slidePanelTrigger">&#9776; Menu</a>
                </div>
                <div class="toolbar-util">
                    <ul class="toolbar-util-list">
                        <li>
                            <a href="/cart">Cart ({{ cart.item_count }})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
