// ----------------------------------------------------------------------------
// Elements
// ----------------------------------------------------------------------------
body {
    background-color: $WHITE; // fallback color in case background image fails to load
    color: $DARK;
    font-family: $SERIF;
    font-size: $FONT_SIZE_LG;
    line-height: 1.4;
}

// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------
a {
    text-decoration: underline;
}

a:hover,
a:focus {
    // TODO
}

// ----------------------------------------------------------------------------
// Responsive Media
// ----------------------------------------------------------------------------
img,
audio,
canvas,
video,
picture {
    max-width: 100% !important; // media should never overflows it's container
}