<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Activate Account</h1>
    </div>
    <div class="pageWrapper-section">
        {% form 'activate_customer_password' %}

            {{ form.errors | default_errors }}

            <label for="password">Password</label>
            <input class="field field_txt" type="password" name="customer[password]" />

            <label for="password_confirmation">Password Confirmation</label>
            <input class="field field_txt" type="password" name="customer[password_confirmation]" />

            <input class="btn" type="submit" value="Activate Account" />
            <span>or</span>
            <input class="btn" type="submit" name="decline" value="Decline Invitation" />

        {% endform %}
    </div>
</div>