<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Register</h1>
    </div>
    <div class="pageWrapper-section">
        {% form 'create_customer' %}

            {{ form.errors | default_errors }}

            <label for="first_name">First Name</label>
            <input class="field field_txt" type="text" name="customer[first_name]" />

            <label for="last_name">Last Name</label>
            <input class="field field_txt" type="text" name="customer[last_name]" />

            <label for="email">Email Address</label>
            <input class="field field_txt" type="email" name="customer[email]" />

            <label for="password">Password</label>
            <input class="field field_txt" type="password" name="customer[password]" />

            <input class="btn" type="submit" value="Create Account" />

        {% endform %}
    </div>
</div>