<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Reset Password</h1>
    </div>
    <div class="pageWrapper-section">
        {% form 'reset_customer_password' %}

            {{ form.errors | default_errors }}

            <label for="password">Password</label>
            <input class="field field_txt" type="password" name="customer[password]" />

            <label for="password_confirmation">Password Confirmation</label>
            <input class="field field_txt" type="password" value="" name="customer[password_confirmation]" />

            <input class="btn" type="submit" value="Reset Password" />

        {% endform %}
    </div>
</div>