<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Reset Password</h1>
    </div>
    <div class="pageWrapper-section">
        <div class="cta">

            <!-- Reset Password Form -->
            {% form 'reset_customer_password' %}
                <div class="form">
                    <div class="form-alert">
                        {{ form.errors | default_errors }}
                    </div>
                    <div class="form-bd">
                        <ul class="vlist">
                            <li>
                                <label for="password">Password</label>
                                <input class="field field_txt" type="password" name="customer[password]" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />
                            </li>
                            <li>
                                <label for="password_confirmation">Password Confirmation</label>
                                <input class="field field_txt" type="password" value="" name="customer[password_confirmation]" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />
                            </li>
                        </ul>
                    </div>
                    <div class="form-action">
                        <input class="btn btn_soft" type="submit" value="Reset Password" />
                    </div>
                </div>
            {% endform %}
        </div>
    </div>
</div>