// ----------------------------------------------------------------------------
// Mixin - Visually Hidden
//
// Hides content from visual users but leave intact for screen readers
// ----------------------------------------------------------------------------
@mixin is-visually-hidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// ----------------------------------------------------------------------------
// Mixin - Clearfix
//
// Micro clearfix for inclusion where floats need to be cleared
// ----------------------------------------------------------------------------
@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}