// ----------------------------------------------------------------------------
// Color Variables
// ----------------------------------------------------------------------------
$WHITE: #ffffff;
$GREY:  #bebebe;
$DARK:  #474342;

// ----------------------------------------------------------------------------
// Font Size Variables
// ----------------------------------------------------------------------------
$FONT_SIZE_SM: 12px;
$FONT_SIZE_MD: 16px;
$FONT_SIZE_LG: 20px;
$FONT_SIZE_XL: 24px;

// ----------------------------------------------------------------------------
// Font Family Variables
// ----------------------------------------------------------------------------
$SANS_SERIF: Helvetica, Arial, sans-serif;
$SERIF: Georgia, Times, "Times New Roman", serif;

// ----------------------------------------------------------------------------
// Site Wide Variables
// ----------------------------------------------------------------------------
$SITE_MAX_WIDTH: 1386px;

// ----------------------------------------------------------------------------
// Z-index Scale
// ----------------------------------------------------------------------------
$ZINDEX_100: 100;
$ZINDEX_200: 200;
$ZINDEX_300: 300;
$ZINDEX_400: 400;
$ZINDEX_500: 500;
$ZINDEX_600: 600;
$ZINDEX_700: 700;
$ZINDEX_800: 800;
$ZINDEX_900: 900;
