<div class="tier">
    <div class="wrapper">
        <div class="masthead" role="banner">
            <div class="masthead-brand">
                <div class="logo">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="Back to the Wilson and Willy's home page" />
                    </a>
                </div>
            </div>
            <div class="masthead-nav">
                <div class="nav" role="navigation">
                    <ul class="nav-list">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Home Goods</a></li>
                        <li><a href="#">Makers</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="masthead-infobar">
                <p>Free Shipping on orders over $50</p>
                Cart (0)
            </div>
        </div>
    </div>
</div>