{% assign page = pages.page-not-found %}
<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">{{ page.title }}</h1>
    </div>
    <div class="pageWrapper-section pageWrapper-section_isTight">

        {{ page.content }}

    </div>
</div>
