<div class="pageWrapper">
    <div class="pageWrapper-section pageWrapper-section_isCentered">
        <h1 class="sectionTitle">Search Results</h1>
    </div>
    <div class="pageWrapper-section pageWrapper-section_isTight">

        {% if search.performed %}

            {% paginate search.results by 10 %}

                {% if search.results_count == 0 %}
                    <div class="userContent">
                        <p>Your search for "{{ search.terms }}" did not yield any results.</p>
                    </div>
                {% else %}
                    <ol class="vlist">
                        {% for item in search.results %}
                        <li>
                            <h2 class="hdg hdg_xl">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </h2>
                            <div class="userContent">
                                {{ item.content | strip_html | truncatewords: 40 }}
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                {% endif %}

                {% if paginate.pages > 1 %}
                    {% include 'global-pagination' %}
                {% endif %}

            {% endpaginate %}

        {% endif %}
    </div>
</div>
